<nav class="navbar navbar-expand-lg  mt-10">
  <div class="container-fluid ">
    <div class="">
      <button class="circle"></button>
      <a class="navbar-brand" [routerLink]="['/']"><strong>Saurav Kumar</strong>&nbsp; UI Developer</a>
    </div>
  <div>
    <a class="navbar-brand" [routerLink]="['/resume']">Resume</a>
    <a class="navbar-brand" [routerLink]="['/projects']">|&nbsp; Projects</a>
    <a class="navbar-brand" [routerLink]="['/contacts']">|&nbsp; Contacts</a>

  </div>
    
   
  </div>
</nav>