<div class="footer">
    <hr>

<div class="container">
    <div class="phone">
        <strong>Phone</strong>
        <p>+91-9094617249</p>
    </div>
    <div class="email">
        <strong>Email</strong>
        <p><a href="mailto:ksaurav325@gmail.com">ksaurav325@gmail.com</a></p>
    </div>
    <div class="follow">
        <strong>Follow Me</strong>
        <p></p>
    </div>
    <div class="copyright">
        <p>Copyright &copy; 2024 Saurav Kumar. All Rights Reserved</p>
    </div>
</div>
</div>