<div class="container">
    <app-header></app-header>
    <div class="project-section">
        <p class="heading">Projects</p>
        <div class="projects">
            <p><strong>Project 1</strong></p>
            <p></p>
            <ul>
                <li>Implemented the logic to Integrate AWS API Gateway in the Angular application, optimizing system performance and scalability.</li>
                <li>Developed the logic that increased efficiency in image upload processes by implementing innovative algorithms, resulting in a significant 10x reduction in upload time.</li>
                <li>Implemented a dynamic user module, empowering users to effortlessly add and edit their information.</li>
                <li>Improved User experience by incorporating features such as filters, search bar, sorting , fostering greater ease of navigation and information retrieval within the system.</li>
            </ul>
        </div>
        <div class="projects">
            <p><strong>Project 2</strong></p>
            <p></p>
            <ul>
                <li>Implemented the logic to Integrate AWS API Gateway in the Angular application, optimizing system performance and scalability.</li>
                <li>Developed the logic that increased efficiency in image upload processes by implementing innovative algorithms, resulting in a significant 10x reduction in upload time.</li>
                <li>Implemented a dynamic user module, empowering users to effortlessly add and edit their information.</li>
                <li>Improved User experience by incorporating features such as filters, search bar, sorting , fostering greater ease of navigation and information retrieval within the system.</li>
            </ul>
        </div>
    </div>
   

</div>

<app-footer></app-footer>   