<div class="container">
    <app-header></app-header>

    <div class="resume">
        <p class="heading">Resume</p>
        <div class="resume-section">
            <div class="section">Work Experience</div>
            <div class="section">
                <p>2035 - Present</p>
                <div>
                    <b>Company Name</b>
                    <p>Web Developer</p>
                </div>
                
            </div> 
        </div>
      
    </div>




    <app-footer></app-footer>
</div>